:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --fonte-principal: "Montserrat";
  --botao-cafe: #4d2f1e;
  --preto-sujo: #131313;
  --amarelin-cafe: #efefc8;
  --fundo: #ffffe9;
  --containerSize: auto;
}

body,
html {
  background: linear-gradient(90deg, #efeab3 0%, #efcf00 100%);
  font-family: var(--fonte-principal);
  height: 100%;
  margin: 0;
}
.bg {
  background-image: url(img/cafe.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  background: var(--botao-cafe);
  height: 80px;
  width: 100%;
}

label.titulo_1 {
  position: absolute;
  top: 51px;
  font-family: var(--fonte-principal);
  font-weight: 100;
  font-size: 25px;
  letter-spacing: 8px;
  color: var(--amarelin-cafe);
  margin-bottom: 0.2em;
  text-align: left;
  margin-left: 50px;
  padding: 0 100px;
  display: inline;
  margin: 10px 10px 10px 10px;
  line-height: 80px;
}
nav ul {
  float: right;
  margin: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: var(--amarelin-cafe);
  font-size: 16px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}
a.active,
a:hover {
  background: var(--cinza-secundario);
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: var(--amarelin-cafe);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--botao-cafe);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #efefc8;
  }
  #check:checked ~ ul {
    left: 0%;
  }
  section {
    background: url(img/cafe.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
  .bg {
    position: fixed;
    width: 100%;
    height: 100vh;
  }
}

.titulo__container2 {
  font-weight: 100;
  font-size: 18px;
  font-family: var(--fonte-principal);
  color: var(--preto-sujo);
  margin-bottom: 50px;
  text-align: center;
  padding-bottom: 30px;
  letter-spacing: 8px;
}

.titulo__container3 {
  font-weight: bold;
  font-size: 14px;
  font-family: var(--fonte-principal);
  color: var(--botao-cafe);
  margin-bottom: 3em;
  text-align: center;
  letter-spacing: 6px;
}
.container__colunas {
  font-weight: 300;
  font-size: 12px;
  font-family: var(--fonte-principal);
  color: var(--botao-cafe);
  text-align: center;
  padding-bottom: 22px;
}
.lista__item {
  font-weight: 300;
  font-size: 16px;
  font-family: var(--fonte-principal);
  color: var(--botao-cafe);
  text-align: center;
  padding: 20px;
  line-height: 10px;
  padding-bottom: 12px;
  margin: 10px;
  font-weight: bold;
}
.coluna__lista {
  background-size: 40%;
  display: flex;
  list-style-type: none;
  padding-right: 14px;
  justify-content: center;
  max-width: 100%;
  padding-bottom: 22px;
  max-width: 700px;
  margin: 0 auto;
}

.texto {
  font-weight: 300;
  font-size: 14px;
  font-family: var(--fonte-principal);
  color: var(--botao-cafe);
  text-align: center;
  padding: 10px;
  line-height: 20px;
  padding-bottom: 12px;
}

.colchete {
  font-weight: lighter;
  font-size: 30px;
  font-family: var(--fonte-principal);
  color: var(--branco-principal);
}

.img {
  filter: drop-shadow(8px 8px 4px #575757);
}
.copyright {
  text-align: center;
  font-family: var(--fonte-principal);
  font-size: 12px;
}

.bg {
  /* The image used */
  background-image: url("img/cafe.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
